<%= bootstrap_form_for team , :html => {multipart: true} do |f| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "erro") %> encontraod: </h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>





    <%= f.text_field :Nome %>



    <%= f.label :Jogadores_disponíveis %>
    <br>
    <%= collection_check_boxes(:team, :jogador_ids, Jogador.where("user_id = "+current_user.id.to_s),:id, :Nome)%>



    <%= f.file_field :logo %>
  <br>
    <%= f.submit :Cadastrar %>
<% end %>
