

<%= image_tag @team.logo.url(:thumb) %>
<p>
  <strong>Nome:</strong>
  <%= @team.Nome %>
</p>
<p>
  <strong>Jogadores:</strong>
    <% @team.jogadors.each do |jogador| %>
      <%= jogador.Nome %>
    <% end %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
