<%= bootstrap_form_for(jogador) do |f| %>
  <% if jogador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jogador.errors.count, "erro") %> encontrado: </h2>

      <ul>
      <% jogador.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :Nome %>
    <%= f.text_field :Nick_no_jogo %>
    <%= f.number_field :Idade %>
    <%= f.label :Times_Disponíves%>
    <br>
    <%= collection_check_boxes(:jogador ,:team_ids ,Team.where("user_id = "+current_user.id.to_s) ,:id ,:Nome) %>
    <%= f.submit :Confirmar %>
<%end%>
