<p id="notice"><%= notice %></p>

<h1>Jogadores</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Nick no jogo</th>
      <th>Idade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jogadors.each do |jogador| %>
      <tr>
        <td><%= jogador.Nome %></td>
        <td><%= jogador.Nick_no_jogo %></td>
        <td><%= jogador.Idade %></td>
        <td><%= link_to 'Visualizar', jogador %></td>
        <td><%= link_to 'Editar', edit_jogador_path(jogador) %></td>
        <td><%= link_to 'Destruir', jogador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo jogador', new_jogador_path %>
