

<p>
  <strong>Nome:</strong>
  <%= @jogador.Nome %>
</p>

<p>
  <strong>Nick no jogo:</strong>
  <%= @jogador.Nick_no_jogo %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @jogador.Idade %>
</p>

<p>
  <strong>Teams:</strong>
    <% @jogador.team.each do |team| %>
      <%= team.Nome %>
    <% end %>
</p>

<%= link_to 'Edit', edit_jogador_path(@jogador) %> |
<%= link_to 'Back', jogadors_path %>
