<%= bootstrap_form_for torneio, :html => {multipart: true} do |f| %>
  <% if torneio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(torneio.errors.count, "erro") %> encontrado:</h2>

      <ul>
      <% torneio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>





    <%= f.text_field :Nome %>



    <%= f.date_select :Inicio %>



    <%= f.date_select :Fim %>



    <p> Times disponíveis </p>
    <%= collection_check_boxes(:torneio ,:team_ids ,Team.where("user_id = "+current_user.id.to_s) ,:id ,:Nome) %>




    <%= f.file_field :cover %>

  <br>

    <%= f.submit :Cadastrar%>

<% end %>
