<p id="notice"><%= notice %></p>

<h1>Torneios</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Inicio</th>
      <th>Fim</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @torneios.each do |torneio| %>
      <tr>
        <td><%= torneio.Nome %></td>
        <td><%= torneio.Inicio %></td>
        <td><%= torneio.Fim %></td>
        <td><%= link_to 'Mostrar', torneio %></td>
        <td><%= link_to 'Editar', edit_torneio_path(torneio) %></td>
        <td><%= link_to 'Destruir', torneio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo torneio', new_torneio_path %>
