

  
<%= image_tag @torneio.cover.url(:thumb) %>

<p>
  <strong>Nome:</strong>
  <%= @torneio.Nome %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @torneio.Inicio %>
</p>

<p>
  <strong>Fim:</strong>
  <%= @torneio.Fim %>
</p>

<p>
  <strong>Times:</strong>
    <% @torneio.teams.each do |team| %>
      <%= team.Nome %>
    <% end %>
</p>
