
<ul class="list-group">
  <table class="table">
    <tr>
        <th> <h1> <h1> <li class="list-group-item">Contato</li> </h1> </th>
    </tr>

    <tr>
      <th> <li class="list-group-item">Brunos Matias Casas</li> </th>
      <th>  <li class="list-group-item">brunomatiascasas@hotmail.com</li> </th>
    </tr>
    <tr>
      <th>   <li class="list-group-item">Francisco Wallacy Coutinho Braz</li> </th>
      <th>   <li class="list-group-item">wallacy.braz@live.com</li> </th>
    </tr>

</ul>
