<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Projeto EP3</h1>
        <p>Site de gereciamento de torneios. Aqui você irá encontrar formas de cadastrar jogadores, times e torneios</p>

      </div>
      <div class="container">
      
    </div>

    <div class="container">
